*/99-standalone-vars*
*/08-ceph
*/get-pip.py
*/cirros-*.img
*/cirros-*.raw
*/standalone_parameters.yaml
*/glance_v1beta1_glance_ceph.yaml
*/cr/core_v1beta1_openstackcontrolplane_ceph_backend.yaml
*/cr/core_v1beta1_openstackcontrolplane_extra_vols.yaml
*/kustomize-*/core_v1beta1_openstackcontrolplane.yaml
